.i-phone81-container {
  min-height: 100vh;
}
.i-phone81-i-phone81 {
  width: 100%;
  height: 667px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 348px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(43, 224, 235, 1);
}
.i-phone81-group1 {
  top: -110px;
  left: -112px;
  width: 549px;
  height: 368px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.i-phone81-ellipse3 {
  top: 129px;
  left: 90px;
  width: 103px;
  height: 102px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-ellipse5 {
  top: 93px;
  left: 144px;
  width: 250px;
  height: 249px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-ellipse2 {
  top: 67px;
  left: 140px;
  width: 105px;
  height: 118px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-maskgroup {
  top: 0px;
  left: 50px;
  width: 499px;
  height: 282px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.i-phone81-ellipse1 {
  top: 0px;
  left: 212px;
  width: 287px;
  height: 282px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-ellipse11 {
  top: 53px;
  left: 0px;
  width: 119px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-ellipse4 {
  top: 166px;
  left: 0px;
  width: 196px;
  height: 202px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.i-phone81-text {
  top: 341px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-phone81-text1 {
  top: 292px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-phone81-frame1increment {
  top: 444px;
  left: 62px;
  width: 223px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(252, 52, 52, 1);
}
.i-phone81-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-phone81-frame2save {
  top: 510px;
  left: 62px;
  width: 223px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(13, 191, 31, 1);
}
.i-phone81-text5 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-phone81-text7 {
  top: 593px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 479px) {
  .i-phone81-ellipse3 {
    top: 131px;
    left: 94px;
  }
  .i-phone81-ellipse2 {
    top: 69px;
    left: 131px;
  }
  .i-phone81-text {
    color: rgb(0, 0, 0);
    font-size: 64px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px 0px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
